.trending {
    margin-top: 5rem;
    .headling {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .trending_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>div {
            position: relative;
            width:49%;
            height: 700px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .trending_content {
                color: #fff;
                position: absolute;
                bottom: 3rem;
                left: 3rem;
                .main_txt {
                    font-size: 18px;
                    margin: 0.5rem 0 2rem 0;
                }
                .btn_primary {
                    color: #000;
                    background-color: #fff;
                }
            }
        }
    }
}