nav {
	.top_nav {
		background-color: #f5f5f5;
		.top_nav_container {
			margin: 0 3rem;
			padding: 0.3rem 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
				list-style-type: none;
				gap: 0.9rem;
				li {
					a {
						text-decoration: none;
						color: #000;
						&:hover {
							color: #757575;
						}
					}
				}
				span {
					font-family: Arial, Helvetica, sans-serif;
					font-size: 12px;
				}
			}
		}
	}
	.nav {
		position: relative;
		.nav_container {
			margin: 0 40px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left {
				width: 60px;
				.pre-logo-svg {
					transform: scale(1.33);
					height: 100%;
					width: 100%;
				}
			}
			.center {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0);
				ul {
					display: flex;
					align-items: center;
					justify-content: center;
					list-style: none;
					li {
						a {
							text-decoration: none;
							font-size: 16px;
							color: #000;
							padding: 1rem 0.8rem;
						}
					}
				}
			}
			.right {
				display: flex;
				align-items: center;
				gap: 1rem;

				.search_container {
					width: 180px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #f5f5f5;
					padding: 0.5rem;
					border-radius: 30px;
					.search_icon {
						width: 25px;
						height: 25px;
						border-radius: 50%;
						margin: 0 0.4rem;
					}
					input {
						width: 100%;
						border: none;
						outline: none;
						background: transparent;
						font-size: 16px;
						&::placeholder {
							font-family: Arial, Helvetica, sans-serif;
							font-size: 16px;
							color: #b2b2b2;
						}
					}
				}
			}
		}
	}
	.notification {
		background-color: #f5f5f5;
		padding: 0.6rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		.notification_container {
			.headline {
				font-size: 16px;
			}
			.des {
				font-size: 12px;
                margin-top: 0.5rem;
                a {
                    color: #000;
                }
			}
		}
	}
}
