.featured {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
    .headling {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
	.img_container {
		position: relative;
		.featured_details {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
            color: #fff;
            .des {
                margin: 1rem 0;
                line-height: 25px;
            }
            .btn_primary {
                background-color: #fff;
                color: #000;
            }
		}
		img {
			width: 100%;
		}
	}
}
